*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #E79D6D;
    word-wrap: break-word;
}

.titulo{
    font-family: fantasy;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 3px #501F15;
    padding-top: 2px;
}

.container-jogo{
padding-top: 25px;
}

.area-jogo{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    & > img{
        width: 300px;
        height: 300px;
        align-self: center;
    } & > strong, h3 {
        align-self: center;
        color: #cf7b43;
        text-shadow: 1px 1px 1px #501F15;
        width: 170px;
        border-radius: 4px;
        margin: 3px;
    }
}
.escuroValores{
    background-color: #501f15be;
}
.claroValores{
    background-color: #d67535;
}

#meus-cookies{
    word-wrap: break-word;
}

.clicks{
    z-index: -1;
    height: 5px;
    top: -10px;
    position: absolute;
    transform: translateX(-30%);
    animation: caindo 2s ease-in forwards, sumindo 5s infinite;
}

@keyframes caindo {
    to {
        top: calc(100vh - 300px);
    }
}

@keyframes sumindo {
    to {
        opacity: 0.2;
    }
}

.biscoito{
    animation: girando 5s infinite linear;
}
.biscoito2{
    animation: girando 1.2s infinite linear;
}

.biscoito:hover{
    cursor: crosshair;
}

.biscoito:active, .biscoito2:active{
    animation: click 0.2s;
}

@keyframes girando {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.area-de-botoes{
    position: absolute;
    width: 200px;
    top: 20px;
    left: 20px;
    & > a{
        font-size: 30px;
        padding-right: 25px;
        color: #fff;
        text-decoration: none;
    } & > button {
        border-radius: 4px;
        border: none;
        background-color: #cf7b43;
        text-shadow: 1px 1px 1px #501F15;
        box-shadow: 2px 2px 4px #000;
        color: #fff;
        position: absolute;
        align-self: center;
        top: 45px;
        width: 150px;
        height: 30px;
    }
}

.area-upgrades, .area-quebrada, .area-mega-up, .mudar-imagem-musica{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 8px;
    background-color: #C66C31;
    box-shadow: 2px 2px 4px #000;
    & > button {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #d1824d;
        color: #fff;
        text-shadow: 0px 0px 6px #000;
        margin: 5px;
        border-radius: 4px;
        border: none;
        padding: 2px;
    } & > strong {
        padding-top: 5px;
        height: 25px;
        text-align: center;
        background-color: #501F15;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        border-radius: 8px 8px 0px 0px;
    }
}

/* Valores */
.forte{
    color: #ffc280;
    text-shadow: #000 1px 1px 1px;
}

.area-upgrades{
    right: 20px;
    top: 20px;
}

.area-mega-up{
    right: 20px;
    top: 340px;
}

.mudar-imagem-musica{
    left: 20px;
    top: 110px;
}

.area-quebrada {
    left: 20px;
    top: 300px;
}

.theEnd{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 150px;
    border-radius: 8px;
    left: 20px;
    top: 620px;
    background-color: #000000;
    box-shadow: 2px 2px 4px #000000, 2px 2px 4px #fff;
    & > strong {
        color: #fff;
        text-align: center;
        padding-top: 5px;
        height: 25px;
    } & > button {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #ffffff;
        color: #000000;
        text-shadow: 0px 0px 6px #ffffff;
        margin: 5px;
        border-radius: 4px;
        border: none;
        padding: 2px;
    }
}

.colorido {
    animation: colorido infinite 6s;
}
.colorido2 {
    animation: colorido infinite 1s;
}
.claro {
    background-color: #E79D6D;
}
.escuro {
    background-color: #4e261e;
}

@keyframes colorido {
    0%{
        background-color: red;
    }
    14.28%{
        background-color: orangered;
    }
    28.57%{
        background-color: yellow;
    }
    42.85%{
        background-color: green;
    }
    57.14%{
        background-color: blue;
    }
    71.42%{
        background-color: indigo;
    }
    85.71%{
    background-color: purple;
    }
    100%{
        background-color: red;
    }
}

.ovni{
    display: none;
}

.ovni-voando{
    display: block;
    position: absolute;
    width: 140px;
    height: 140px;
    top: 10px;
    right: 180px;
    animation: voar  1.3s ease-in-out;
}

@keyframes voar{
    0%{
        opacity: 0%;
        transform: translateX(0);
    }
    55%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        transform: translateX(-930px);
    }
}

.boss{
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 14px;
    box-shadow: 1px 1px 3px #000;
    padding: 3px;
}

.biscoitinhos{
    color: #C66C31;
    background: #4e261eea;
}
.biscoitinhos-escuros{
    background: #C66C31;
    color: #fff;
}

.legenda{
    background-color: #501F15;
    text-shadow: 0px 1px 1px #C66C31;
    border-radius: 14px;
    width: 190px;
    margin: 5px;
}

.bi{
    width: 200px;
    height: 200px;
}

.b1:active, .b2:active, .b3:active, .b4:active{
    animation: click 0.2s;
}

@keyframes click{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}

.telaDeFim{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #000;
    color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
/* Pra celular */